{
    #Id of channel server announcements will be sent to (color changes)
 "announcementChannelId": "Channel ID ",
    #Id of channel PCEP news will be sent to 
 "newsChannelId": "886323743503298590",
    #Id of role that will be pinged upon new PCEP news
 "announcementsRoleId": "885280443044347915",
    #Id of the mystery color of the week
 "roleChangeId": "885274527251193956",
    #the amount of votes required for the mystery color of the week to be shuffled
 "colorRerollThreshold": 10,
    #the day that the mystery color of the week will be shuffled (0 being sunday)
 "initStartDay": "6",
    #the day of the week the voting will be closed for rerolling the mystery color of the week (0 being sunday) [Note: cannot be the same as initStartDay]
 "resetStartDay": "1",
    #Id of channel survey data will be sent to by default
 "surveyChannel": "890699308565946378"
}